.list-item{
    width: 480px;
    height : 80px;
    padding-left : 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background: #F2EAD3;
    a {
        color: #2c2c2c;
        text-decoration: none;
    }
}
